<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Shubham\Us22\Api\Data\PopupInterface" type="Shubham\Us22\Model\Popup"/>
    <preference for="Shubham\Us22\Api\PopupRepositoryInterface" type="Shubham\Us22\Service\PopupRepository"/>
    <preference for="Shubham\Us22\Api\PopupManagementInterface" type="Shubham\Us22\Service\PopupManagement"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="shubham_popup_listing_data_source" xsi:type="string">Shubham\Us22\Model\ResourceModel\Popup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Shubham\Us22\Model\ResourceModel\Popup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">shubham_popup</argument>
            <argument name="eventPrefix" xsi:type="string">shubham_popup_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">popup_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Shubham\Us22\Model\ResourceModel\Popup</argument>
        </arguments>
    </type>
</config>
