<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="page_load_routers_loaded">
        <observer name="log_availabel_router" instance="Shubham\Us4\Observer\LogAvailableRouters" />
    </event>
</config>